

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;         /* <-- Aspas removidas */
  min-height: 100vh;   /* <-- Aspas removidas */
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body {
  font-variant-numeric: tabular-nums; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}
